@import url(http://fonts.googleapis.com/css?family=Roboto);


body {
  button {
    outline: none;
  }
  background: #fff;
  font-family: 'lato', sans-serif;

  button {
    cursor: pointer;
  }

  ul {
    list-style: none;
  }
  margin: 0 auto;
  .container {
    padding: 20px;
  }

  .header-section {
    margin: 35px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .back-btn {
      background: #00ccbc;
      padding: 6px 20px;
      font-size: 12px;
      color: #fff;
    }
    .name {
      color: #828585;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .sub-tag {
      color: #95a5a6;
      text-transform: uppercase;
    }
  }
  header {
    text-align: center;
    h1 {
      text-transform: uppercase;
      font-size: 18px;
    }
    p {
      color: #828585;
    }
  }
  .list-heading {
    padding: 10px 0;

  }
  .search-box {
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 102;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .08);
    width: 50%;
    margin: 50px auto 0;
    .clear-search {
      position: absolute;
      top: 15px;
      right: 31%;
      background: red;
      font-size: 16px;
      padding: 0 5px;
      color: #fff;
      height: 22px;
      cursor: pointer;
    }
    .bar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .search-input {
        flex: .7;
        input {
          &.disabled {
            background: #e5eaea;
            box-shadow: none;
            font-weight: 600;
          }
          outline: none;
          width: 100%;
          height: 48px;
          box-sizing: border-box;
          font-size: 16px;
          line-height: 24px;
          padding: 12px 16px;
          border: 1px solid #e8ebeb;
          border-radius: 4px;
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, .05), inset 0 0 0 100px #fff;
          &:disabled {
            background: #e5eaea;
          }
        }
      }
      .search-btn {
        flex: .3;
        button {
          outline: none;
          width: 100%;
          color: #fff;
          background: #00ccbc;
          min-height: 48px;
          padding: 12px 24px;
          font-size: 18px;
        }
      }
    }
  }
  .search-list-content, .card {
    position: absolute;
    width: 100%;
    background: #f5f9f9;
    li {
      list-style: none;
    }
    .no-data-found {
      padding: 20px;
    }
    .list-view {
      &__body {
        &__item {
          cursor: pointer;
          border: 1px solid #e5eaea;
          .avatar {
            height: 40px;
            width: 40px;
            border-radius: 36px;
            color: #ffffff;
            display: flex;
            margin-right: 15px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &.orange {
              background : #e67e22
            }
            &.ciyan {
              background : #9b59b6
            }
            &.grey {
              background : #95a5a6
            }
            &.blue {
              background : #3498db
            }
            &.red {
              background : #e74c3c
            }
          }
          .sub-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .name {
              color: #828585;
              margin-bottom: 10px;
            }
            .muted {
              color: #95a5a6;
              font-size: 12px;
              text-transform: uppercase;
            }
          }

          color: rgb(204, 204, 204);
          .data {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 19px;
            text-decoration: none;
            color: #00ccbc;
            padding: 10px 10px;
          }
          a {
            color: #00ccbc;
            text-decoration: none;
          }
        }
      }
    }
  }
  .card {
    position: relative;
    li {
    }
    .no-data-found {
    }
    .list-view {
      &__body {
        &__item {
          .avatar {
          }
          .data {
          }
          a {
          }
        }
      }
    }
  }
  .err {
    position: absolute;
    font-size: 14px;
    top: 0;
    left: 50%;
    margin-left: -91px;
    padding: 10px;
    background: #e74c3c;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 1;
    &.hide-opacity{
      opacity: 0;
    }
  }
  .page {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  .search-box {
    width: 80% !important;
  }
}
